-f https://pytorch-geometric.com/whl/torch-1.8.1+111.html
torch-scatter 
-f https://pytorch-geometric.com/whl/torch-1.8.1+111.html
torch-sparse
torch-geometric
torch-geometric-temporal
matplotlib
seaborn
pandas
hydra-core
hydra-optuna-sweeper
hydra-ray-launcher
hydra_colorlog
# ray
mlflow
aiohttp==3.7.0
aioredis<2

